<div class="widget-content">
	<div class="row-fluid form-horizontal">
        <div class="responsive-block">
            <h4>My user info widget</h4>
            <b>Username:</b> kishor
        </div>
    </div>
</div>